{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <h1>Transações</h1>

    <br />
    <ul>
      {% for store in store_list %}

      <li>
        <h2>Loja: {{ store.name}} - Dono: {{store.owner}}</h2>
        <ul>
          {% for transaction in store.transactions %}
          <li>
            <p>
              Tipo: {{transaction.type_description}} - Valor: R$
              {{transaction.value|floatformat:2}} - card: {{transaction.card}} -
              CPF: {{transaction.cpf}} - Data: {{transaction.date}} - Hora:
              {{transaction.hour}}
            </p>
          </li>
          {% endfor %}
        </ul>
        <h3>Saldo: R$ {{store.balance|floatformat:2}}</h3>
      </li>

      {% endfor %}
    </ul>
  </body>
</html>

<!-- for lista de mercados in listadelistasdemercados
  for mercado in lista de mercados
  <p>Mercado {{mercado.nome}}</p>
    for transacao in mercado.transacoes
      <p>transacao {{transacao.info}}</p>
    <p>valor total: {{mercado.valorTotal}}</p>  -->
